/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}
/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, tròn, vuông,....)
Làm từ ngoài vào trong
từ trên xuống dưới
từ tổng quan đến chi tiết
*/
#main{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100000000;
    overflow: hidden;
}

#nav, #subnav {
    list-style-type: none;
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: inline-block;
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#nav > li:hover > a{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

#nav  li:hover .subnav{
    display: block;
    cursor: pointer;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 160px;
    z-index: 1000000;
}

#nav .subnav a{
    color: #000;
    padding: 0px 12px;
}

#nav .subnav li {
    display: block;
}

#nav .subnav li:hover {
    background-color: #ccc;
    color: #fff;
}

#header .menu{
    float: right;
    padding: 0 21px;
    display: none;
    height: 100%;
    color: white;
    background-color: black;
    border: none;
}

#header #search-button{
    float: right;
    padding: 0 21px;
}

#header #search-button:hover {
    background-color: orangered;
    cursor: pointer;
}

#search-button .search-icon{
    font-size: 20px;
    line-height: 46px;
    color: #fff;
}

#search-button #btn-menu{
    font-size: 20px;
    line-height: 46px;
    color: #fff;
    display: none;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/chicago.jpg') top center / cover no-repeat;

}

.slider-title{
    color: white;
    font-size: 22px;
    text-align: center;
}

.slider-sub{
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding-top: 15px;
    text-align: center;
}

#content{
    position: relative;
}

#branch{
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 85px;
}

.content-title{
    font-size: 30px;
    text-align: center;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
}

.content-sub-title{
    font-size: 14px;
    text-align: center;
    color: gray;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content-txt{
    text-align: justify;
    font-size: 15px;
    font-family: "Segoe UI",Arial,sans-serif;
    width: 100%;
}

.member{
    width: 100%;
    display: flex;
    padding: 32px 0;
    text-align: center;
}

.mb{
    position: relative;
    width: 33.3%;
}

.mb-name{
    margin: 15px 0;
}

.mb-picture{
    width: 60%;
    border-radius: 5px;
}

#tour{
    position: relative;
    margin-top: 80px;
    background-color: #000;
}

#tour > .content-title{
    color: white;
    padding-top: 85px;
}

.ticket-list{
    padding: 35px;
}

.ticket-list > li{
    border: 0.5px solid gray;
    list-style-type: none;
    height: 45px;
    margin: auto;
    max-width: 800px;
    background-color: white;
    line-height: 45px;
    color: gray;
    font-size: 14px;
    padding-left: 15px;
}

.soldout{
    padding: 6px;
    background-color: orangered;
    color: white;
    margin-left: 25px;
}

.quantity{
    background-color: #000;
    color: white;
    padding: 6px 7px;
    margin-left: 680px;
    border-radius: 20px;
}

.location{
    position: relative;
    width: 820px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.lct{
    position: relative;
    width: calc(790px / 3);
    background-color: white;
    margin-bottom: 80px;
}

.lct-img{
    vertical-align: middle;
    width: 100%;
}

.lct-name{
    font-weight: bold;
    padding: 15px 0;
    padding-left: 15px;
}

.lct-time{
    color: gray;
    padding-left: 15px;
    padding-bottom: 15px;
}

.lct-sub{
    padding-left: 15px;
    padding-bottom: 15px;
}

.buyticket{
    margin-left: 15px;
    background-color: #000;
    color: #fff;
    height: 40px;
    width: 110px;
    margin-bottom: 15px;
    border: none;
}

.buyticket:hover{
    background-color: grey;
    color: #000;
}

.blacknet{
    display: none;
    position: absolute;
    background-color: #000;
    top: 0;
    width: 100%;
    height: 192px;
    opacity: 0.4;
}

.lct:hover > .blacknet{
    display: block;
}

.ct-box{
    display: flex;
    max-width: 800px;
    margin: auto;
}

.location-contact{
    text-align: left;
    padding-bottom: 10px;
}

.ctbox-left{
    position: relative;
    width: 50%;
    font-size: 18px;
}

.tag{
    margin-right: 15px;
}

.icon{
    padding-left: 400px;
}

.row1{
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.row{
    display: flex;
    justify-content: right;
}

.row2{
    display: flex;
    justify-content: right;
}


#txtrow {
    height: 40px;
    width: 185px;
    padding-left: 15px;
}

#txtrow2 {
    height: 40px;
    width: 410px;
    padding-left: 15px;
    margin-top: 10px;
}

.btn-send{
    height: 40px;
    width: 75px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    border: none;
    margin-bottom: 115px;
}

.btn-send:hover{
    background-color: #ccc;
    color: #000;
}

.map{
    width: 100%;
}

#footer{
    position: relative;
    height: 220px;
    text-align: center;
}

.final{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    margin-bottom: 10px;
}

.ft-icon{
    padding: 0 5px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal-container{
    position: relative;
    width: 920px;
    background: #fff;
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: modalanimation ease .6s;
}

.modal-header{
    background-color: #00ad8b;
    height: 125px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    letter-spacing: 4px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-btn-close{
    position: absolute;
    background-color: #00ad8b;
    border: none;
    right: 8px;
    top: 8px;
    color: white;
}

.modal-btn-close{
    cursor: pointer;
}

.modal-content{
    display: block;
}

#ip1{
    height: 40px;
    width: 880px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 15px;
}

.lb-ip1{
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.modal-btn-pay{
    background-color: #00ad8b;
    height: 40px;
    width: 900px;
    border: none;
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
}

.modal-btn-pay:hover{
    cursor: pointer;
}
.btn-footer-close{
    height: 40px;
    width: 85px;
    background-color: orangered;
    color: #fff;
    border: none;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 17px;
}

.btn-footer-close{
    cursor: pointer;
}

.footer-needhelp{
    position: absolute;
    right: 15px;
    bottom: 25px;
}

@keyframes modalanimation {
    from {
        opacity: .5;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.backtotop{
    position: fixed;
    border: 3px solid #7b0303;
    height: 35px;
    width: 35px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    color: #7b0303;
}

